body {
  background-color: pink;
  font-family: 'Baloo Tamma', cursive;
}
h1 {
  text-align: center;
  font-size: 4.5em;
  margin: auto;
}
h2 {
  text-align: center;
  margin: auto;
}
p {
  background-color: white;
  font-size: 1.25em;
  text-align: center;
  margin: auto;
}
.game-start {
  font-size: 1.5em;
  height: 75px;
  width: 200px;
  border-radius: 30px;
  border-width: 5px;
  margin-top: 1em;
  background-color: white;
  color: black;
  border-color: gray;
}
.game-prompt {
  display: none;
}
/*.game-prompt:first-of-type{
  display: block;
}*/
.clock {
  display: block;
  background-color: yellow;
  margin-left: 30em;
  margin-right: 30em;
}
ul {
  padding: inherit;
  /*-webkit-padding-start: 0px;*/
}
li {
  font-size: 4em;
  text-align: center;
  display: inline;
  list-style-type: none;
}
span {
  color: red;
}
#player1 {
  background-color: yellow;
  display: inline-block;
  float: left;
  margin-left: 6em;
  height: 200px;
  width: 200px;
}
#player2 {
  background-color: yellow;
  display: inline-block;
  float: right;
  margin-right: 6em;
  height: 200px;
  width: 200px;
}
footer {
  clear: both;
  display: block;
  text-align: center;
  background-color: white;
  color: black;
}
